.about {
  background-color: #262d36;
  background-image: url(../img/about/lines-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 95px;
  @media (max-width: 767.98px) {
    padding: 20px 0 60px;
  }
  &__title {
    color: #fff;
    padding-bottom: 10px;
  }
  &__body {
    margin: 70px 0;
    @media (max-width: 767.98px) {
      margin: 30px 0;
    }
  }
  &__text {
    &:not(&:last-child) {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    color: $c-accent;
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
  &__item-img {
    border: 2px solid $c-accent;
    border-radius: 50%;
    padding: 20px;
  }
  &__item-text {
    max-width: 250px;
    color: $c-accent;
    margin: 20px auto 0;
    font-size: 0.8rem;
  }
}
