.button {
  width: 200px;
  height: 60px;
  border: 1px solid $c-accent;
  background-color: $c-accent;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s;
  @media (any-hover:hover){
    &:hover{
      transform: scale(1.1);
    }
  }
}