.card-tariff {
  padding: 30px 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 575.98px) {
    padding: 20px 30px;
  }
  &__title {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: $c-text-accent;
    font-weight: 700;
    @include adaptiv-value(font-size, 40, 25, 1);
    padding-left: 60px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 40px;
      width: 40px;
      background-image: url(../img/tariffs/icon-card.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__table {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: 20px 0 30px;
    color: $c-text-grey;
    width: 100%;
    border-spacing: 0 20px;
    @include adaptiv-value(font-size, 24, 12, 1);
    @media (max-width: 575.98px) {
      margin: 20px 0;
    }
  }
  &__table-value {
    font-weight: 700;
    text-align: right;
  }
  &__info {
    margin-bottom: 20px;
    color: $c-text-accent;
    text-align: center;
    @include adaptiv-value(font-size, 24, 12, 1);
  }
  &__info-price {
    display: block;
    font-weight: 600;
    @include adaptiv-value(font-size, 36, 18, 1);
    margin: 0 auto;
  }
  &__button {
    color: #fff;
    padding: 10px 15px;
    @include adaptiv-value(font-size, 26, 16, 1);
    @media (max-width: 575.98px) {
      height: 40px;
    }
  }
}
