.card-tariff {
  padding: 30px 60px;
  background-color: #fff;
  @media (max-width: 575.98px) {
    padding: 20px 30px;
  }
  &__title {
    color: $c-text-accent;
    @include adaptiv-value(font-size, 40, 25, 1);
  }
  &__table {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: 20px 0 30px;
    color: $c-text-grey;
    width: 100%;
    border-spacing: 0 20px;
    @include adaptiv-value(font-size, 24, 12, 1);
    @media (max-width: 575.98px) {
      margin: 20px 0;
    }
  }
  &__info {
    margin-bottom: 20px;
    color: $c-text-accent;
    @include adaptiv-value(font-size, 24, 12, 1);
  }
  &__info-price {
    @include adaptiv-value(font-size, 36, 18, 1);
  }
  &__button {
    color: #fff;
    padding: 10px 15px;
    @include adaptiv-value(font-size, 26, 16, 1);
    @media (max-width: 575.98px) {
      height: 40px;
    }
  }
}
