.step-info {
  padding: 40px 80px 65px;
  background-color: #262d36;
  background-image: url(../img/steps/step-info-bg.png), url(../img/steps/emoji-bg.svg);
  background-repeat: no-repeat;
  background-position:
    top left,
    calc(100% - 80px) 80px;
  border-radius: 20px 20px 0px 0px;
  transform: translateY(-50px);
  @media (max-width: 767.98px) {
    padding: 25px 20px 35px;
  }
  @media (max-width: 575.98px) {
    background-position:
      top left,
      right 100px;
  }
  &__title {
    display: inline-block;
    color: $c-accent;
    padding-bottom: 10px;
    @media (max-width: 767.98px) {
      width: 100%;
      text-align: center;
    }
  }
  &__text {
    margin: 10px 0 50px;
    padding-left: 40px;
    font-weight: 500;
    @media (max-width: 575.98px) {
      margin: 10px 0 20px;
    }
  }
  &__text-inner {
    @include adaptiv-value(font-size, 24, 18, 1);
  }
  &__body {
    background-image: url(../img/steps/line-bg.svg);
    background-repeat: no-repeat;
    background-position: 30px 60px;
    @media (max-width: 1199.98px) {
      background-image: none;
    }
  }
  &__item {
    background-color: #262d36;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 440px;
    @include adaptiv-value(min-height, 70, 50, 1);
    &--2 {
      margin: 80px 0 88px 380px;
    }
    &--3 {
      margin: 0 0 0 -40px;
    }
    &--4 {
      margin: 50px 0 90px 590px;
    }
    &--5 {
      margin: 0 0 10px 85px;
    }
    &--6 {
      margin: 0 0 0 730px;
    }
    @media (max-width: 1199.98px) {
      margin: 10px 0;
    }
  }
  &__item-count {
    font-family: "Roboto";
    font-weight: 700;
    @include adaptiv-value(font-size, 48, 24, 1);
    color: #fff;
    min-width: 80px;
    z-index: 5;
    background-color: $c-accent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &__item-text {
    @include adaptiv-value(font-size, 22, 14, 1);
    margin-left: 15px;
    max-width: 330px;
    padding: 5px 0;
  }
}
