.title{
  position: relative;
  font-weight: 600;
  @include adaptiv-value(font-size, 40, 30, 1);
  line-height: 100%;
  color: $c-text-grey;
  text-align: center;
  padding-bottom: 24px;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #E3E3E3;
  }
}